gifs
images
__pycache__
tests/**/*
new_tests/**/*


/testing.ipynb
notes-to-self.txt

/tmp
/**/tmp
/**/**/tmp
/**/**/**/tmp


/**/**/**/.DS_Store
/**/.DS_Store
.DS_Store

dfwm.txt
/.vscode

/setup_alias.sh

lymurb_figures_recreated/